@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: "Poppins";
}

.font-montserrat {
  font-family: "Montserrat";
}

body {
  background-image: linear-gradient(#4d9ec1, #ffffff);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
